.main-card {
  text-align: center;
  display: block;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
  width: 40%;
}

.card-header {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

mat-form-field {
  margin: 0 5px 0 5px;
}

.mat-toolbar {
  background: #ffd922;
  color: black;
  margin-bottom: 1rem;
}

// .row {
//     margin: 10px 0 10px 0;
//     display: block;
//     align-items: center;
//     text-align: center;
//     background-color: #f5f5f0;
// }

.col {
  display: block;
  align-items: center;
  text-align: center;
}
