.main-card {
    text-align: center;
    background-color: #f5f5f0;
}

.card-header {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

mat-form-field {
    margin: 0 5px 0 5px;
}

.mat-toolbar {
    background: #ffd922;
    color: black;
}