<mat-toolbar>
  <mat-toolbar-row>
    <span>Slovenian population</span>
    <span class="example-spacer"></span>
    <img class="image" src="../../../assets/images/sloImage.png">
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col">
      <button *ngIf="btnCity" id="toggleObcine" mat-stroked-button color="primary" (click)="toggleObcine()">Pogled po obcinah</button>
      <button *ngIf="btnReg" id="toggleRegije" mat-stroked-button color="primary" (click)="toggleRegije()">Pogled po regijah</button>
    </div>
  </div>
</div>

<app-slo-region *ngIf="showReg"></app-slo-region>
<app-slo-city *ngIf="showCity"></app-slo-city>

